* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin: 5rem 30% 2rem 30%;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  gap: 5rem;
  font-size: 1rem;
}

.left-leader {
  display: flex;
  flex-direction: column;
}

.score-header {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-right: 15px;
}

.refresh {
  padding: 5px 8px;
}

.scores {
  border: 2px solid rgb(43, 43, 43);
  margin-top: 2rem;
  height: 50%;
  overflow-y: scroll;
}

.list-scores li {
  list-style: none;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 10px;
}

ul li:nth-child(even) {
  background-color: aqua;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 2rem;
}

form input {
  padding: 10px 15px;
}

.submit {
  margin-left: 5rem;
  padding: 8px 10px;
}

.save {
  margin-left: 50px;
  color: green;
  font-weight: 600;
  margin-top: 18px;
}
