* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.main-wrapper {
  background: linear-gradient(70deg, #2a5a3b, #1e4886);
  border-radius: 40px;
  width: 70%;
  height: 75%;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: whitesmoke;
  box-shadow: 2px 4px 2px #1e488699;
}

h1 {
  position: relative;
  font-size: 4rem;
  color: #2a5a3b;
  padding-left: 1rem;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 0.3vw wheat;
  text-transform: uppercase;
}

h1::before {
  content: attr(data-text);
  padding-left: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  width: 0;
  height: 100%;
  color: #1e4886;
  -webkit-text-stroke: 0 #383d52;
  border-right: 1px solid #1e4886;
  animation: main 8s linear infinite;
  overflow: hidden;
}

@keyframes main {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: wheat;
}

.container {
  display: flex;
  justify-content: center;
  gap: 8rem;
  font-size: 1rem;
  margin-top: 3rem;
}

.left-leader {
  display: flex;
  flex-direction: column;
}

.score-header {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.scores {
  border: 4px solid darkslategray;
  border-top-left-radius: 30px;
  margin-top: 2rem;
  height: 35%;
  margin-bottom: 2rem;
  overflow-y: scroll;
  background-color: #00000090;
  box-shadow: 3px 2px 4px #00000050;
}

.list-scores li {
  list-style: none;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 10px;
  font-size: 17px;
}

ul li:nth-child(even) {
  background-color: darkslategray;
  transition: 1s ease;
}

ul li:nth-child(even):hover {
  transform: scale(1.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 38px;
}

form input {
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5px;
}

.submit {
  margin-left: 8rem;
}

.btn {
  cursor: pointer;
  color: wheat;
  position: relative;
  padding: 12px;
  font-size: 16px;
  background: none;
  transition: 1.5s ease;
}

.btn:hover {
  color: white;
  transform: scale(1.2);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #2a5a3b;
  z-index: -1;
  transition: transform 0.9s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}

.btn:hover::before {
  transform: scaleX(1);
}

.save {
  margin-left: 50px;
  color: aqua;
  font-weight: 600;
  margin-top: 18px;
}
